body {
  margin: 0;
  padding: 0;
  background-color: #2ecc71; /* Green background */
}

#game-container {
  position: relative;
  width: 400px;
  height: 550px;
  /* margin: 10px auto; */
}

#paddle {
  position: absolute;
  bottom: 0;
  width: 100px;
  height: 20px;
  background-color: #fff;
}

#ball {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
}

#gameover{
  display:none
}